# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
.venv/
venv/
ENV/
env/
pip-selfcheck.json

# Data output (optional - if you don't want to commit generated CSVs)
data_output/**/*.csv
data_output/**/*.log

# IDE / Editor specific
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# OS specific
.DS_Store
Thumbs.db 

.env
*.log
*.csv
